build --copt="-std=c++17"
build --copt="-mpopcnt"
build --copt="-mbmi"
build --copt="-Wextra"
build --copt="-Wall"
build --copt="-Werror"
build --per_file_copt=external/.*@-w
build -c opt
build --copt="-O3"

